# This notebook is used for moving around scraped images and creating approriate CSV files

### This portion will divide mushrooms pictures into edible/inedible folders

In [1]:
import pandas as pd
import numpy as np
import os, fnmatch
import re
import shutil

In [2]:
df = pd.read_csv('CSVs/all_pic_and_mush.csv')

In [3]:
df.head()

,image_name,short_name,image_num,family,location,min_cap_cm,max_cap_cm,min_stem_hgt_cm,max_stem_hgt_cm,min_stem_diam_cm,max_stem_diam_cm,edibility,long_desc,name
0,agaricusarvensis1.jpg,agaricusarvensis,1,Agaricaceae,"North America, Europe",8.0,20.0,8.0,10.0,2.0,3.0,Edible and good,"Agaricus arvensis, commonly known as the horse...",agaricus_arvensis
1,agaricusarvensis2.jpg,agaricusarvensis,2,Agaricaceae,"North America, Europe",8.0,20.0,8.0,10.0,2.0,3.0,Edible and good,"Agaricus arvensis, commonly known as the horse...",agaricus_arvensis
2,agaricusarvensis3.jpg,agaricusarvensis,3,Agaricaceae,"North America, Europe",8.0,20.0,8.0,10.0,2.0,3.0,Edible and good,"Agaricus arvensis, commonly known as the horse...",agaricus_arvensis
3,agaricusarvensis4.jpg,agaricusarvensis,4,Agaricaceae,"North America, Europe",8.0,20.0,8.0,10.0,2.0,3.0,Edible and good,"Agaricus arvensis, commonly known as the horse...",agaricus_arvensis
4,agaricusarvensis5.jpg,agaricusarvensis,5,Agaricaceae,"North America, Europe",8.0,20.0,8.0,10.0,2.0,3.0,Edible and good,"Agaricus arvensis, commonly known as the horse...",agaricus_arvensis

In [4]:
df['edibility'].value_counts()

Inedible                235
Edible                  186
Poisonous                89
Edible and good          48
Lethally poisonous       27
Edible and excellent     24
Edible when boiled       18
Name: edibility, dtype: int64

In [5]:
df['edibility']= df['edibility'].replace('Inedible','Inedible')\
            .replace('Edible','Edible')\
            .replace('Poisonous','Inedible',)\
            .replace('Edible and good', 'Edible')\
            .replace('Lethally poisonous','Inedible')\
            .replace('Edible and excellent', 'Edible')\
            .replace('Edible when boiled','Edible')\

In [6]:
df['edibility'].value_counts()

Inedible    351
Edible      276
Name: edibility, dtype: int64

#### Create base image folder

In [7]:
try:
    os.mkdir('edible_classifier_images')
except:
    print ('directory error')

#### Create train/test folders

In [8]:
try:
    os.mkdir('edible_classifier_images/train')
except:
    print ('directory error')

try:
    os.mkdir('edible_classifier_images/test')
except:
    print ('directory error')

#### Create Inedible  train/test folders

In [9]:
try:
    os.mkdir('edible_classifier_images/train/inedible')
except:
    print ('directory error')
try:
    os.mkdir('edible_classifier_images/test/inedible')
except:
    print ('directory error')

#### Create edible  train/test folders

In [10]:
try:
    os.mkdir('edible_classifier_images/train/edible')
except:
    print ('directory error')
try:
    os.mkdir('edible_classifier_images/test/edible')
except:
    print ('directory error')

### Copy each image from the scraped images folder into an appropriate locations

In [11]:

for each_row in enumerate(df['image_name']):
#divide images with 2 in their string into the holdout/testing image folder
    if '2' in each_row[1]:
        try:
            edibile_test = (df.loc[each_row[0]]['edibility'])
            image_name = (each_row[1])
            shutil.copyfile(f'scrape_images/{image_name}',  # old path
                            f'edible_classifier_images/test/{edibile_test}/{image_name}') #new path

        except:
            print(f'error on {each_row}')
#divide images without 2 in their string into the training image folder
    else:
        try:
            edibile_test = (df.loc[each_row[0]]['edibility'])
            image_name = (each_row[1])
            shutil.copyfile(f'scrape_images/{image_name}',  # old path
                            f'edible_classifier_images/train/{edibile_test}/{image_name}') #new path

        except:
            print(f'error on {each_row}')

error on (13, 'albatrellusovinus2.jpg')
error on (18, 'amanitaceciliae2.jpg')
error on (195, 'cortinariuslaniger4.jpg')
error on (406, 'leccinumversipelle4.jpg')
error on (475, 'paxillusinvolutus4.jpg')
error on (490, 'pholiotasquarrosa1.jpg')
error on (498, 'polyporusciliatus4.jpg')
error on (555, 'russulaxerampelina1.jpg')
error on (582, 'suillusgrevillei4.jpg')

# This portion will divide mushrooms pictures into species folders

In [12]:
 try:
    os.mkdir(f"species_classifier_images")
except:
    print ("directory error")

In [13]:
try:
    os.mkdir(f"species_classifier_images/train/")
except:
    print ("directory error")

In [14]:
try:
    os.mkdir(f"species_classifier_images/test/")
except:
    print ("directory error")

In [15]:
species_name = df['name'].unique()

In [16]:
for each_mushroom in species_name:
    try:
        os.mkdir(f"species_classifier_images/train/{each_mushroom}")
        os.mkdir(f"species_classifier_images/test/{each_mushroom}")
    except:
        print(f"{each_mushroom} directory error")

In [17]:
# Copy each image from scraped images into testing and training folder by species
# image labled with 2 will be set aside into the testing/validation folder
for each_image_name in enumerate(df['image_name']):
    try: 
        image_name = (each_image_name[1])
        folder_name = (df.iloc[each_image_name[0]]['name'])
        if "2" in image_name:
            shutil.copyfile(f'scrape_images/{image_name}',
                            f'species_classifier_images/test/{folder_name}/{image_name}'
                           )
        else:    
            shutil.copyfile(f'scrape_images/{image_name}',
                            f'species_classifier_images/train/{folder_name}/{image_name}'
                           )
    except:
        print(f'image{(each_image_name[1])} is missing')

imagealbatrellusovinus2.jpg is missing
imageamanitaceciliae2.jpg is missing
imagecortinariuslaniger4.jpg is missing
imageleccinumversipelle4.jpg is missing
imagepaxillusinvolutus4.jpg is missing
imagepholiotasquarrosa1.jpg is missing
imagepolyporusciliatus4.jpg is missing
imagerussulaxerampelina1.jpg is missing
imagesuillusgrevillei4.jpg is missing

# Setup CSV for training - species

In [18]:
training_df = pd.DataFrame(columns=['folder_list'])
training_df.head()

Empty DataFrame
Columns: [folder_list]
Index: []

In [19]:
train_folders = sorted(os.listdir('species_classifier_images/train'))
try:
    train_folders.remove('.DS_Store')
except:
    print('file not removed')

file not removed

In [20]:
train_image=[]
folder_list =[]
for i in train_folders:
        image_list=[]
        image_list=(sorted(os.listdir(f'species_classifier_images/train/{i}')))
        for each in image_list:
            train_image.append(f'{i}/{each}')
            folder_list.append(f'{i}')

In [21]:
train_image[:9]

['agaricus_arvensis/agaricusarvensis1.jpg',
 'agaricus_arvensis/agaricusarvensis3.jpg',
 'agaricus_arvensis/agaricusarvensis4.jpg',
 'agaricus_arvensis/agaricusarvensis5.jpg',
 'agaricus_augustus/agaricusaugustus1.jpg',
 'agaricus_augustus/agaricusaugustus3.jpg',
 'agaricus_augustus/agaricusaugustus4.jpg',
 'albatrellus_confluens/albatrellusconfluens1.jpg',
 'albatrellus_confluens/albatrellusconfluens3.jpg']

In [22]:
folder_list[:9]

['agaricus_arvensis',
 'agaricus_arvensis',
 'agaricus_arvensis',
 'agaricus_arvensis',
 'agaricus_augustus',
 'agaricus_augustus',
 'agaricus_augustus',
 'albatrellus_confluens',
 'albatrellus_confluens']

In [23]:
len(train_image), len(folder_list)

(483, 483)

In [24]:
training_df = pd.concat([pd.DataFrame(train_image,columns=['image_path']), 
                pd.DataFrame(folder_list,columns=['species'])],axis=1)

In [25]:
training_df.head()

                                image_path            species
0  agaricus_arvensis/agaricusarvensis1.jpg  agaricus_arvensis
1  agaricus_arvensis/agaricusarvensis3.jpg  agaricus_arvensis
2  agaricus_arvensis/agaricusarvensis4.jpg  agaricus_arvensis
3  agaricus_arvensis/agaricusarvensis5.jpg  agaricus_arvensis
4  agaricus_augustus/agaricusaugustus1.jpg  agaricus_augustus

In [26]:
training_df.to_csv("CSVs/categorical_training.csv",index=False)

In [27]:
pd.read_csv("CSVs/categorical_training.csv")

                                  image_path            species
0    agaricus_arvensis/agaricusarvensis1.jpg  agaricus_arvensis
1    agaricus_arvensis/agaricusarvensis3.jpg  agaricus_arvensis
2    agaricus_arvensis/agaricusarvensis4.jpg  agaricus_arvensis
3    agaricus_arvensis/agaricusarvensis5.jpg  agaricus_arvensis
4    agaricus_augustus/agaricusaugustus1.jpg  agaricus_augustus
..                                       ...                ...
478  tylopilus_felleus/tylopilusfelleus3.jpg  tylopilus_felleus
479  tylopilus_felleus/tylopilusfelleus4.jpg  tylopilus_felleus
480  tylopilus_felleus/tylopilusfelleus5.jpg  tylopilus_felleus
481  tylopilus_felleus/tylopilusfelleus6.jpg  tylopilus_felleus
482  tylopilus_felleus/tylopilusfelleus7.jpg  tylopilus_felleus

[483 rows x 2 columns]

# Setup CSV for testing- species

In [28]:
testing_df = pd.DataFrame(columns=['folder_list'])
testing_df.head()

Empty DataFrame
Columns: [folder_list]
Index: []

In [29]:
test_folders = sorted(os.listdir('species_classifier_images/train'))

try:
    test_folders.remove('.DS_Store')
except:
    print('file not removed')

file not removed

In [30]:
test_image=[]
test_folder_list =[]
for i in test_folders:
        image_list=[]
        image_list=(sorted(os.listdir(f'species_classifier_images/test/{i}')))
        for each in image_list:
            test_image.append(f'{i}/{each}')
            test_folder_list.append(f'{i}')

In [31]:
test_image[:9]

['agaricus_arvensis/agaricusarvensis2.jpg',
 'agaricus_augustus/agaricusaugustus2.jpg',
 'albatrellus_confluens/albatrellusconfluens2.jpg',
 'amanita_fulva/amanitafulva2.jpg',
 'amanita_muscaria/amanitamuscaria2.jpg',
 'amanita_pantherina/amanitapantherina2.jpg',
 'amanita_phalloides/amanitaphalloides2.jpg',
 'amanita_porphyria/amanitaporphyria2.jpg',
 'amanita_regalis/amanitaregalis2.jpg']

In [32]:
test_folder_list[:9]

['agaricus_arvensis',
 'agaricus_augustus',
 'albatrellus_confluens',
 'amanita_fulva',
 'amanita_muscaria',
 'amanita_pantherina',
 'amanita_phalloides',
 'amanita_porphyria',
 'amanita_regalis']

In [33]:
len(test_image), len(test_folder_list)

(135, 135)

In [34]:
testing_df = pd.DataFrame(test_image,columns=['image_path'])

In [35]:
testing_df.head()

                                        image_path
0          agaricus_arvensis/agaricusarvensis2.jpg
1          agaricus_augustus/agaricusaugustus2.jpg
2  albatrellus_confluens/albatrellusconfluens2.jpg
3                  amanita_fulva/amanitafulva2.jpg
4            amanita_muscaria/amanitamuscaria2.jpg

In [36]:
testing_df.to_csv("CSVs/categorical_testing.csv",index=False)

In [37]:
pd.read_csv("CSVs/categorical_testing.csv")

                                            image_path
0              agaricus_arvensis/agaricusarvensis2.jpg
1              agaricus_augustus/agaricusaugustus2.jpg
2      albatrellus_confluens/albatrellusconfluens2.jpg
3                      amanita_fulva/amanitafulva2.jpg
4                amanita_muscaria/amanitamuscaria2.jpg
..                                                 ...
130      tricholoma_sejunctum/tricholomasejunctum2.jpg
131    tricholomopsis_decora/tricholomopsisdecora2.jpg
132  tricholomopsis_rutilans/tricholomopsisrutilans...
133    turbinellus_floccosus/turbinellusfloccosus2.jpg
134            tylopilus_felleus/tylopilusfelleus2.jpg

[135 rows x 1 columns]